@{
    ViewBag.Title = "Home Page";
}

<div id="indexLogoDiv" class="jumbotron">
    <img id="indexLogoImg" src="~/Content/Img/chOneLogoSquare.png" />
</div>

<div class="row">
    <div class="col-md-4">                
        @Html.Action("HomePageBets","Bets")
    </div>
    <div class="col-md-4">
        <h2>Результаты</h2>
        @Html.Action("HomePageLeaderboard", "Periods", new { metaPeriod = false })
        @Html.Action("HomePageLeaderboard", "Periods", new { metaPeriod = true })
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>