@model IEnumerable<stitalizator01.Models.Channel>

@{
    string isDefaultStr = "";    
}
<div class="input-group input-group-lg">
    @foreach (var item in Model)
    {
        if (item.IsDefault)
        {
            isDefaultStr = "checked";
        }
        else
        {
            isDefaultStr = "";
        }
        <input type="checkbox" class="channelCb" id="@item.ChannelTag" @isDefaultStr /> @item.ChannelName
    }
</div>
