<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/246f8139-f026-41cb-b4c8-07607a16f13b/resourceGroups/stitalizatorRG/providers/Microsoft.Web/sites/stitalizator</ResourceId>
    <ResourceGroup>stitalizatorRG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stitalizator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stitalizator.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>stitalizator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$stitalizator</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BetsDB" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User ID=amosendz@stitalizatordbserver;Password=234235236Mt" Name="Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=234235236Mt" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="stitalizator01.Models.StitalizatorContext, stitalizator01" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User ID=amosendz@stitalizatordbserver;Password=234235236Mt" Name="Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=234235236Mt" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="stitalizator01.Models.ApplicationDbContext, stitalizator01" MigrationConfiguration="stitalizator01.Migrations.Configuration, stitalizator01" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=234235236Mt</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BetsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=234235236Mt</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BetsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BetsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BetsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BetsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stitalizatordbserver.database.windows.net,1433;Initial Catalog=stitalizator_db;User Id=amosendz@stitalizatordbserver;Password=945549Sql</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BetsDB" />
  </ItemGroup>
</Project>