body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#overlayDiv {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: url('Img/preloader-01.gif') no-repeat center center;    
    background-color: #3061a6;
    display: none;
    z-index: 1000000;
}

#indexLogoDiv{
    background: url('Img/table1200.jpg') no-repeat left top;    
    /*background-color: #3061a6;    */
    text-align: center;
    /*max-height:270px;*/
    min-height:290px;
    min-width: 250px;
}

#indexLogoImg {
    height: 200px;
    width: 200px;
}

input[type="checkbox"]{
  width: 30px; 
  height: 30px; 
}

.programListHorseIcon
{
    width: 30px;
    height:30px;
}
#welcomeBody
{
    padding:0;
    background-color: #3061a6;
    color: white;
}
#welcomeContainer
{
    width:100%;
    height:100%;
    background-color: #3061a6;
}
#welcomeLogo {
    /*height: 1000px;
    background: url('Img/chOneLogoSquare.png') no-repeat center center;    */
}

#whiteBoardTable {
    table-layout: fixed;
    font-family: 'marker_font01';
    text-align: center;        
}

#whiteBoardTable td {
    word-wrap: break-word;
    width:70px;
}
#whiteBoardTable tr {
    height: 70px;
}

@font-face {
    font-family: 'marker_font01';
    src: url('../../fonts/marker_font01.ttf') format('truetype');
}

#totalScoreTd {
    color: red;
    font-weight:bold;
    font-size:x-large;
}
#resultsTr {
    font-weight: bold;
    font-size: x-large;
}
.table-responsive2 {
    width: 80%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0 solid #DDD;
    float:left;
}


#whiteBoardTable2 {
    table-layout: fixed;
    font-family: 'marker_font01';
    text-align: center;    
    width: 50px;    
}
#whiteBoardTable2 tr {
        height: 70px;
}
    