body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#overlayDiv {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: url('Img/preloader-01.gif') no-repeat center center;    
    background-color: #3061a6;
    display: none;
    z-index: 1000000;
}

#indexLogoDiv{
    background: url('Img/table1200.jpg') no-repeat left top;    
    /*background-color: #3061a6;    */
    text-align: center;
    /*max-height:270px;*/
    min-height:290px;
    min-width: 250px;
}

#indexLogoImg {
    height: 200px;
    width: 200px;
}

input[type="checkbox"]{
  width: 30px; 
  height: 30px; 
}

.programListHorseIcon
{
    width: 30px;
    height:30px;
}
#welcomeBody
{
    padding:0;
    background-color: #3061a6;
    color: white;
}
#welcomeContainer
{
    width:100%;
    height:100%;
    background-color: #3061a6;
}
#welcomeLogo {
    /*height: 1000px;
    background: url('Img/chOneLogoSquare.png') no-repeat center center;    */
}

#whiteBoardTable {
    table-layout: fixed;
    font-family: 'marker_font01';
    text-align: center;        
}

#whiteBoardTable td {
    word-wrap: break-word;
    width:70px;
}
#whiteBoardTable tr {
    height: 70px;
}

@font-face {
    font-family: 'marker_font01';
    src: url('../../fonts/marker_font01.ttf') format('truetype');
}

#totalScoreTd {
    color: red;
    font-weight:bold;
    font-size:x-large;
}
#resultsTr {
    font-weight: bold;
    font-size: x-large;
}
.table-responsive2 {
    width: 80%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0 solid #DDD;
    float:left;
}


.whiteBoardTable {
    table-layout: fixed;
    font-family: 'marker_font01';
    text-align: center;
    width: 50px;    
    float:left;
}
.whiteBoardTable tr {
    height: 70px;
}

#whiteBoardNames {
    width:100px;
}

#whiteBoardHeader {
    font-family: 'marker_font01';
    text-align: center;
    font-size:larger;
    padding-top:10px;
}
#whiteBoardTitle {
    width:80%;
    padding-left:10px;
}

@media (max-width: 768px) {
    .whiteBoardTable {
        width: 15%;
        
    }
    #whiteBoardNames {
        width: 15%;
        font-size: small;
        word-wrap: break-word;
    }

    .table-responsive2 {
        width: 70%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #dddddd;
    }

        .table-responsive > .table {
            margin-bottom: 0;
            background-color: #fff;
        }

            .table-responsive > .table > thead > tr > th,
            .table-responsive > .table > tbody > tr > th,
            .table-responsive > .table > tfoot > tr > th,
            .table-responsive > .table > thead > tr > td,
            .table-responsive > .table > tbody > tr > td,
            .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap;
            }

        .table-responsive > .table-bordered {
            border: 0;
        }

            .table-responsive > .table-bordered > thead > tr > th:first-child,
            .table-responsive > .table-bordered > tbody > tr > th:first-child,
            .table-responsive > .table-bordered > tfoot > tr > th:first-child,
            .table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > tbody > tr > td:first-child,
            .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                border-left: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:last-child,
            .table-responsive > .table-bordered > tbody > tr > th:last-child,
            .table-responsive > .table-bordered > tfoot > tr > th:last-child,
            .table-responsive > .table-bordered > thead > tr > td:last-child,
            .table-responsive > .table-bordered > tbody > tr > td:last-child,
            .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                border-right: 0;
            }

            .table-responsive > .table-bordered > thead > tr:last-child > th,
            .table-responsive > .table-bordered > tbody > tr:last-child > th,
            .table-responsive > .table-bordered > tfoot > tr:last-child > th,
            .table-responsive > .table-bordered > thead > tr:last-child > td,
            .table-responsive > .table-bordered > tbody > tr:last-child > td,
            .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                border-bottom: 0;
            }
}