body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#overlayDiv {
    top: 0; 
    left: 0; 
    position: fixed; 
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: url('Img/preloader-01.gif') no-repeat center center;    
    background-color: #3061a6;
    display: none;
    z-index: 1000000;
}

#indexLogoDiv{
    background-color: #3061a6;
    text-align: center;
    max-height:270px;
    min-width: 250px;
}

#indexLogoImg {
    height: 200px;
    width: 200px;
}